body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
textarea {
  overflow: auto;
  resize: vertical;
}
a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  text-decoration: none;
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #222;
}
p {
  font-size: 14px;
  color: #989898;
  line-height: 24px;
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.intro-section {
  height: 100%;
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: rgb(189, 178, 178);
}
.intro-section:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}
.intro-content {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  z-index: 1;
}
.intro-content .intro-inner {
  display: table-cell;
  vertical-align: middle;
}
.intro-content h2 {
  color: #fff;
  font-weight: 300;
  font-size: 80px;
  margin-bottom: 10px;
}
.intro-content h2 span {
  font-weight: 700;
  color: #fff;
  background-image: url(./assets/text-bg.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-position: center center;
  background-size: cover;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.1);
}
.intro-content h3 {
  color: #919191;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.about-content {
  padding: 100px 0 100px 0;
  align-items: center;
  height: 100%;
  background-image: url(/assets/overlay.png);
}
.about-text h1 {
  margin-bottom: 40px;
  font-weight: 600;
}
.about-text p {
  font-size: 14px;
  color: #989898;
  line-height: 24px;
}
/* .about-text span {
  color: rgb(160, 42, 42);
} */

.hero .buton {
  margin-top: 20px;
}

.buton-bg {
  background: #1c1c1c;
  color: #eee;
}
.buton {
  padding: 10px 30px;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  font-size: 13px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.buton-bg:hover {
  background: transparent !important;
  color: #343434 !important;
}

.contact {
  color: #000;
}

.buton:hover {
  background: #1c1c1c;
  color: #eee;
}
.buton-bg {
  background: #1c1c1c;
  color: #eee;
}
.service-title {
  text-align: center;
  margin-bottom: 70px;
}
.service-box:hover .service-content {
  opacity: 1;
}
.service-content h2 {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.service-content p {
  color: #fff;
}

.service-content {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease 0s;
}
.service-content:after {
  position: absolute;
  content: "";
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
  background-image: url(/assets/service-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  filter: blur(16px);
}
.bg-1 {
  background-image: url(/assets/service-bg.jpg);
}

.service-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.service-box:hover .service-icon {
  opacity: 0;
  top: 0;
}
.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}
.service-content .service-inner {
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
  position: relative;
}
.service-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  font-size: 30px;
  text-align: center;
  background: #fff;
  display: block;
  line-height: 30px;
  color: #333;
  padding-top: 26px;
  border-radius: 100px;
  box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: all 0.3s ease-out 0s;
}
.resume-section {
  background: #f2f2f2;
}
.section-title {
  text-align: center;
  margin-bottom: 70px;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}
.resume-item {
  padding: 30px;
  background: #fff;
  box-shadow: -1px 3px 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  position: relative;
}
.resume-item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.resume-item h3 {
  font-size: 12px;
  margin-bottom: 10px;
  color: #298ef6;
  font-weight: 600;
  text-transform: uppercase;
}
.resume-item p {
  margin-bottom: 0;
}
.resume-item:after {
  position: absolute;
  content: "";
  height: 30px;
  border-right: 2px dashed #ddd;
  top: 100%;
  left: 25px;
}
.con-info {
  padding: 0 50px;
  text-align: center;
  margin-bottom: 80px;
}
.con-info .subtitle {
  font-size: 12px;
  margin-bottom: 15px;
}
.con-info h2 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
}
.contact-form input {
  font-size: 12px;
  width: 100%;
  margin-bottom: 30px;
  height: 50px;
  padding: 0 15px;
  border: 1px solid #ebebeb;
  background: #f6f8f9;
}
.contact-form textarea {
  font-size: 12px;
  width: 100%;
  height: 140px;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  background: #f6f8f9;
}
.text-center {
  text-align: center !important;
}
.site-btn {
  font-size: 12px;
  background: #298ef6;
  border: none;
  color: #fff;
  padding: 14px 30px;
  border-radius: 50px;
  min-width: 160px;
  cursor: pointer;
}
.section-title {
  text-align: center;
  margin-bottom: 70px;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000;
}
.portfolio-filter {
  list-style: none;
  margin-bottom: 40px;
}
.portfolio-filter li.active {
  background: #f2f2f2;
  padding: 3px 12px;
  border-radius: 20px;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: contain;
}
.portfolio-item {
  height: 350px;
  background-position: center top;
  margin-bottom: 30px;
  display: block;
  position: relative;
}
.portfolio-item .portfolio-text h2 {
  font-size: 27px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
  position: relative;
  left: 40px;
  opacity: 0;
  transition: all 0.4s ease 0s;
}

.portfolio-item .portfolio-text p {
  font-size: 12px;
  color: #fff;
  position: relative;
  left: 40px;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.portfolio-item .portfolio-text p:after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  left: 0;
  top: 12px;
  background: #fff;
  transition: all 0.4s ease 0s;
}
.portfolio-item:hover .portfolio-text h2,
.portfolio-item:hover .portfolio-text p {
  opacity: 1;
  transform: translateY(-20px);
  transition: all 0.4s ease 0s;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.portfolio-item .portfolio-text {
  position: absolute;
  left: 20px;
  bottom: 50px;
  z-index: 2;
}
.portfolio-filter li {
  display: inline-block;
  margin: 0 5px;
  font-size: 13px;
  padding: 3px 0;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item:hover:after {
  opacity: 0.5;
}
.portfolio-item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0;
  transition: all 0.4s ease 0s;
}
img.mfp-img {
  max-height: 400px;
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
.mfp-img {
  max-height: 400px;
}
.mfp-image-holder.mfp-img {
  max-height: 400px;
}
.footer-section {
  background: #000;
}
.footer-section .social {
  text-align: center;
  margin-bottom: 30px;
}
.footer-section .social a {
  font-size: 11px;
  color: #f9f9f9;
  display: inline-block;
  margin: 0 10px;
  transition: all 0.4s;
}
.copyright {
  text-align: center;
  font-size: 12px;
  color: #444;
  line-height: 2;
}
/* .about-img {
  width: 600px;
  height: 300px;
} */
/* 
@media (max-width: 1240px) {
  .about-img {
    width: 450px;
    height: 444px;
  }
}
@media (max-width: 1000px) {
  .about-img {
    width: 690px;
    height: 460px;
  }
}
@media (max-width: 525px) {
  .about-img {
    width: 378px;
    height: 252px;
  }
}
@media (max-width: 400px) {
  .about-img {
    width: 328px;
    height: 218px;
  }
} */
